$background: #f7eee3;
$colorText: #383633;
$colorHover: #a2625d;
$scrollHover: #8a5150;
$header: 2.5rem;
$darkMode: #121212;
$darkHover: #f5d7d5;
$modalColor: #F27474;
$lineText: #d51313;
$iconColor: #613b39;
$colorBorder: #cdaba9;

