@import "../variables/variables.scss";

.total-btn button {
  border: 2px solid $scrollHover;
  color: $scrollHover;
}

.checkout-btn button {
  border: 1px solid $colorHover;
  color: $colorText;
  transition: 0.8s;

  &:hover {
    border: 1px solid $colorText;
    background-color: $colorHover;
    color: $background;
  }
}
