@import "../variables/variables.scss";

.productCard {
  height: 320px;
  border: 1px solid #999;
  display: flex;
  flex-direction: column;

  .img-container {
    width: 100%;
    height: 240px;

    img {
      width: 100%;
      height: 240px;
      object-fit: cover;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
  }

  .name {
    font-weight: 400;
  }

  .price {
    font-weight: 400;
  }

  .product-name {
    color: $iconColor;
  }

  .btn {
    outline: none;
    border: 1px solid #999;
    background-color: #fff;
    border-radius: 8px;
    color: $iconColor;
    transition: 0.8s;
    cursor: pointer;

    &:hover {
      color: $background;
      background-color: $iconColor;

      .btn-icon {
        color: $background;
      }
    }

    .btn-icon {
      color: $iconColor;
    }
  }
}
